<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Stock Chart</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='main.css') }}">
    <script type="text/javascript" src="{{ url_for('.static', filename='main.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('visualization', '1', {'packages':['corechart']});
        
    </script>

</head>
<body>
    <div style="padding:15px">
        <h1>Real-Time Stock Price Chart</h1>
        <hr>
        <input id="tf_input_stock"/><button onclick="addStock()">Add</button>
        <br/>
        <bold class='error hidden' id='dupErrMsg'>Stock you entered already exists in the list! Please try again with a different stock.</bold>
        <bold class='error hidden' id='ErrMsg'>Invalid Stock.</bold>
        <ul id="list_stock"></ul>
    </div>
    <!--chart div-->
    <a style="font-size:8px" href="https://iexcloud.io">Data provided by IEX Cloud</a>
    <div id="chart_div"></div>
 
</body>

</html>
